.card-list {
  margin: 0 auto;
  max-width: 1140px;
  padding-top: 120px;
}
.card-list__container {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 30px 24px;
  list-style: none;
  margin: 0 auto;
  padding: 0;
  align-items: center;
  justify-items: center;
}
.card-list__loadmore-button {
  width: 100%;
  margin: 80px 0;
  display: flex;
  max-width: 1140px;
  min-height: 36px;
  background-color: #f9f9f9;
  color: #000000;
  text-align: center;
  font-size: 12px;
  font-weight: 500;
  line-height: 15px;
  letter-spacing: 0;
  border: none;
  align-items: center;
  justify-content: center;
  visibility: hidden;
}

.card-list__loadmore-button:hover {
  opacity: 80%;
  cursor: pointer;
}
.card-list__loadmore-button_type_visible {
  visibility: visible;
}

.card-list__message {
  margin: 0 auto;
  text-align: center;
  font-size: 15px;
  font-weight: 400;
  line-height: 22px;
  color: gray;
  display: flex;
  justify-content: center;
  visibility: hidden;
}
.card-list__message_type_active {
  visibility: visible;
}

@media screen and (max-width: 1140px) {
  .card-list__loadmore-button {
    max-width: 708px;
  }
}

@media screen and (max-width: 708px) {
  .card-list__loadmore-button {
    max-width: 292px;
  }
}

@media screen and (max-width: 1140px) {
  .card-list {
    max-width: 708px;
    padding-top: 131px;
  }
  .card-list__container {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 36px 30px;
  }
}

@media screen and (max-width: 708px) {
  .card-list {
    max-width: 300px;
    padding-top: 88px;
  }

  .card-list__container {
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(2, 1fr);
    row-gap: 16px;
  }
}
