.error-page {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  font-family: "Inter", "Arial", sans-serif;
  text-align: center;
  letter-spacing: 0em;
}

.error-page__number {
  margin: 0;
  font-size: 140px;
  font-weight: 400;
  line-height: 169px;
  padding-top: 246px;
}

.error-page__text {
  margin: 0;
  font-size: 16px;
  font-weight: 400;
  line-height: 19px;
  padding-top: 5px;
}

.error-page__link {
  margin: 0;
  font-size: 14px;
  font-weight: 400;
  line-height: 17px;
  color: #ff6838;
  margin-top: 184px;
  margin-bottom: 60px;
  text-decoration: none;
}
.error-page__link:hover {
  opacity: 70%;
  transition: opacity 0.7s;
}
@media screen and (max-width: 1010px) {
  .error-page__number {
    padding-top: 408px;
  }
  .error-page__link {
    margin-top: 184px;
    margin-bottom: 222px;
  }
}

@media screen and (max-width: 620px) {
  .error-page__number {
    font-size: 80px;
    line-height: 97px;
    padding-top: 329px;
  }

  .error-page__text {
    font-size: 12px;
    line-height: 14px;
    padding-top: 10px;
  }

  .error-page__link {
    font-size: 12px;
    line-height: 14px;
    margin-top: 284px;
    margin-bottom: 30px;
  }
}
