.movies {
  margin: 0 auto;
  max-width: 1140px;
}
@media screen and (max-width: 1140px) {
  .movies {
    max-width: 708px;
  }
}

@media screen and (max-width: 708px) {
  .movies {
    max-width: 292px;
  }
}
