.profile-container {
  margin: 0 auto;
  max-width: 410px;
  display: flex;
  flex-direction: column;
  padding-top: 74px;
}
.profile-container__greeting {
  margin: 0;
  font-size: 24px;
  font-weight: 500;
  line-height: 29px;
  letter-spacing: 0em;
  text-align: center;
  padding-bottom: 106px;
}
.profile-container__group {
  display: flex;
  flex-direction: column;
  max-width: 410px;
  width: 100%;
  /* border: 1px solid blue; */
  padding-top: 17px;
  padding-bottom: 17px;
  border-bottom: 1px solid rgba(232, 232, 232);
}

.profile-container__group_place_last {
  border-bottom: none;
  padding-bottom: 0;
}

.profile-container__row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  border: none;
  margin: 0;
  padding: 0;
}

.profile-container__label {
  font-size: 11px;
  font-weight: 500;
  line-height: 13px;
  letter-spacing: 0;
  text-align: left;
  margin: 0;
}

.profile-container__input {
  font-size: 12px;
  font-weight: 400;
  line-height: 13px;
  letter-spacing: 0;
  text-align: right;
  border: none;
  color: #000;
  margin: 0;
  background-color: transparent;
}
.profile-container__input:focus {
  color: #212529;
  background-color: #fff;
  border-color: #bdbdbd;
  outline: 0;
  box-shadow: 0 0 0 0.1rem rgba(158, 158, 158, 0.25);
}
.profile-container__input-error {
  margin: 0;
  font-size: 11px;
  font-weight: 400;
  line-height: 12px;
  letter-spacing: -0.4px;
  text-align: right;
  color: #ee3465;
  padding-top: 5px;
}
.profile-container__button {
  margin: 0;
  margin-top: 220px;
  border: none;
  background-color: #ffffff;
  font-size: 13px;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: 0px;
  text-align: center;
}
.profile-container__button_type_update {
  width: 410px;
  height: 45px;
  background-color: #3456f3;
  color: #ffffff;
}

.profile-container__button_type_edit {
  background-color: transparent;
}

.profile-container__button_type_disable {
  background-color: #f8f8f8;
  color: #000;
  opacity: 0.8;
  cursor: pointer;
  font-size: 12px;
}
.profile-container__button:hover {
  opacity: 80%;
  transition: opacity 0.8s;
  cursor: pointer;
}

.profile-container__link {
  color: #ee3465;
  margin: 16px 0 70px;
  font-size: 13px;
  font-weight: 500;
  line-height: 16px;
  letter-spacing: 0;
  text-align: center;
  text-decoration: none;
  border: none;
  background-color: transparent;
}
.profile-container__link:hover {
  opacity: 70%;
  cursor: pointer;
}
.profile-container__link_type_update {
  display: none;
}

.profile-container__response {
  margin: 0;
  padding: 10px 0;
  text-align: center;
  font-size: 13px;
  font-weight: 500;
  line-height: 16px;
}

.profile-container__response_type_success {
  color: #000;
}

.profile-container__response_type_error {
  color: #ee3465;
}

.profile-container__form {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
}

@media screen and (max-width: 1140px) {
  .profile-container {
    padding-top: 310px;
  }
  .profile-container__greeting {
    padding-bottom: 96px;
  }
  .profile-container__button {
    margin-top: 210px;
  }
}

@media screen and (max-width: 708px) {
  .profile-container {
    max-width: 260px;
    padding-top: 145px;
  }
  .profile-container__greeting {
    padding-bottom: 80px;
  }
  .profile-container__group {
    max-width: 260px;
  }
  .profile-container__button {
    margin-top: 379px;
    font-size: 12px;
    line-height: 14.5px;
  }
  .profile-container__button_type_update {
    width: 260px;
    height: 35px;
  }
  .profile-container__link {
    margin-bottom: 40px;
    font-size: 12px;
    line-height: 14.5px;
  }
}
