.header {
  max-width: 1280px;
  background-color: #465dff;
  margin: 0 auto;
}

.header__container {
  max-width: 1140px;
  margin: 0 auto;
}

@media screen and (max-width: 1140px) {
  .header {
    position: fixed;
    width: 100%;
    z-index: 2;
  }
  .header_type_inactive {
    position: relative;
  }
  .header__container {
    max-width: 708px;
  }
}
@media screen and (max-width: 708px) {
  .header__container {
    max-width: 292px;
  }
}
