.promo {
  width: 100%;
  background-size: 100%;
  background-color: #465dff;
}

.promo__content {
  margin: 0 auto;
  box-sizing: border-box;
  max-width: 1140px;
  display: grid;
}

.promo__info {
  display: flex;
  padding-top: 75px;
  justify-content: space-between;
}

.promo__text {
  display: flex;
  max-width: 640px;
  flex-direction: column;
}

.promo__title {
  max-width: 640px;
  font-family: "Inter", "Arial" sans-serif;
  font-size: 50px;
  font-weight: 400;
  line-height: 58px;
  letter-spacing: 0px;
  text-align: left;
  margin: 0;
  color: #ffffff;
}

.promo__subtitle {
  margin: 0;
  padding-top: 36px;
  padding-bottom: 146px;
  max-width: 310px;
  font-family: "Inter", "Arial" sans-serif;
  font-size: 13px;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: 0px;
  text-align: left;
  color: #ffffff;
  opacity: 50%;
}

.promo__link {
  width: 129px;
  font-family: "Inter", "Arial" sans-serif;
  font-size: 12px;
  font-weight: 500;
  line-height: 16px;
  letter-spacing: 0px;
  text-align: center;
  color: #ffffff;
  border: 1px solid;
  border-color: rgba(255, 255, 255, 0.6);
  border-radius: 3px;
  margin-bottom: 75px;
  text-decoration: none;
  padding-top: 10px;
  padding-bottom: 8px;
}

.promo__link:hover {
  opacity: 70%;
  transition: opacity 0.7s;
}

.promo__image {
  width: 310px;
  height: 304px;
  display: block;
}
@media screen and (max-width: 1010px) {
  .promo__content {
    max-width: 680px;
    display: flex;
  }

  .promo__info {
    padding-top: 140px;
    flex-direction: column-reverse;
    justify-content: flex-start;
  }

  .promo__text {
    max-width: 680px;
  }
  .promo__title {
    max-width: 680px;
    font-size: 40px;
    line-height: 50px;
    text-align: center;
  }

  .promo__subtitle {
    max-width: 260px;
    text-align: center;
    padding-top: 22px;
    padding-bottom: 92px;
    margin: 0 auto;
  }

  .promo__link {
    margin: auto;
    margin-bottom: 76px;
  }

  .promo__image {
    margin: auto;
    padding-bottom: 48px;
  }
}

@media screen and (max-width: 620px) {
  .promo__content {
    max-width: 300px;
  }

  .promo__info {
    padding-top: 70px;
  }

  .promo__text {
    max-width: 300px;
  }

  .promo__title {
    font-size: 30px;
    font-weight: 400;
    line-height: 38px;
    letter-spacing: -0.04em;
  }
  .promo__subtitle {
    padding-bottom: 80px;
  }
  .promo__image {
    width: 210px;
    height: 206px;
  }
  .promo__link {
    margin-bottom: 30px;
  }
}
