/* для блока LOGGEDIN */

.navigation__content {
  display: flex;
  margin: 0;
  justify-content: space-between;
}
.navigation__bar {
  list-style: none;
  padding: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media screen and (max-width: 1010px) {
  .navigation__bar {
    flex-direction: column;
    position: fixed;
    left: 0;
    right: 0;
    top: -118%;
    bottom: 0;
    width: 520px;
    height: 100vh;
    z-index: 2;
    transition: top 1s;
    background-color: #ffffff;
    overflow: hidden;
    margin-left: 248px;
  }
  .navigation__bar_active {
    top: -18px;
  }
  .navigation__text {
    display: block;
  }
}
.navigation__logo {
  width: 38px;
  height: 38px;
  display: block;
  background-color: transparent;
  padding-top: 18px;
  padding-bottom: 18px;
}
.navigation__links {
  display: inline-flex;
  gap: 16px;
  margin-left: 28px;
}

.navigation__item {
  margin: 0;
  font-family: "Inter", "Arial" sans-serif;
  font-size: 13px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0em;
  text-align: left;
  color: #ffffff;
  text-decoration: none;
}

.navigation__item:hover {
  opacity: 70%;
  transition: opacity 0.7s;
  cursor: pointer;
}

.navigation__item_type_active {
  font-weight: 500;
  font-size: 14px;
}
.navigation__text {
  display: none;
}
@media screen and (max-width: 620px) {
  .navigation__bar {
    flex-direction: column;
    position: fixed;
    left: 0;
    right: 0;
    top: -120%;
    bottom: 0;
    width: 100vw;
    height: 100vh;
    z-index: 2;
    transition: top 1s;
    background-color: #ffffff;
    overflow: hidden;
    margin-left: 0;
  }
  .navigation__bar_active {
    top: -16px;
  }
}
@media screen and (max-width: 1010px) {
  .navigation__links {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 159px;
    margin-left: 0;
    gap: 28px;
  }
  .navigation__item {
    color: black;
    font-size: 18px;
    font-weight: 500;
    line-height: 22px;
    text-align: center;
  }
  .navigation__text {
    display: block;
    margin: 0;
    font-family: "Inter", "Arial" sans-serif;
    font-size: 18px;
    font-weight: 500;
    line-height: 22px;
    letter-spacing: 0em;
    text-align: left;
    text-decoration: none;
    color: black;
  }
  .navigation__item_type_active {
    border-bottom: 2px solid black;
    padding-bottom: 4px;
  }
}
@media screen and (max-width: 620px) {
  .navigation__links {
    margin-top: 144px;
    gap: 24px;
  }
}
.navigation__account-group {
  display: flex;
  text-decoration: none;
  margin-left: 737px;
  gap: 17px;
}

.navigation__account-group:hover {
  opacity: 70%;
  transition: opacity 0.7s;
}

.navigation__account-btn {
  background-color: transparent;
  border: none;
  font-family: "Inter", "Arial" sans-serif;
  font-size: 14px;
  font-weight: 500;
  line-height: 16px;
  letter-spacing: 0px;
  text-align: left;
  color: #ffffff;
  margin: 0;
  padding: 0;
  cursor: pointer;
}

.navigation__account-image {
  width: 11.5px;
  height: 14px;
  display: block;
  background-color: #2be080;
  padding: 7.5px;
}
@media screen and (max-width: 1010px) {
  .navigation__account-group {
    display: flex;
    text-decoration: none;
    margin-left: 0;
    margin-bottom: 92px;
    gap: 17px;
  }
  .navigation__account-btn {
    font-size: 18px;
    font-weight: 500;
    line-height: 22px;
    text-align: center;
    color: black;
  }
  .navigation__account-image {
    background-color: transparent;
  }
}
@media screen and (max-width: 620px) {
  .navigation__account-group {
    margin-bottom: 250px;
  }
}
.navigation__burger-btn {
  background-image: url("../../../images/burger_optmzd.png");
  background-color: transparent;
  width: 40px;
  height: 40px;
  border: none;
  background-size: cover;
  background-repeat: no-repeat;
  display: none;
  z-index: 3;
}
.navigation__burger-btn:hover {
  opacity: 70%;
  transition: opacity 0.7s;
  cursor: pointer;
}
.navigation__burger-btn_active {
  background-image: url("../../../images/close_burger.svg");
  background-color: transparent;
  width: 28px;
  height: 28px;
  border: none;
  background-size: cover;
  background-repeat: no-repeat;
  z-index: 3;
}

@media screen and (max-width: 1010px) {
  .navigation__burger-btn {
    display: block;
    margin-top: 18px;
  }
}

/* Блок для MAIN */

.navigation__content {
  margin: 0 auto;
  display: flex;
  max-width: 1140px;
  justify-content: space-between;
  list-style: none;
  padding: 0;
}

@media screen and (max-width: 1010px) {
  .navigation__content {
    max-width: 708px;
  }
}

@media screen and (max-width: 620px) {
  .navigation__content {
    max-width: 292px;
  }
}

.navigation__buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navigation__signup {
  color: white;
  background-color: transparent;
  border: none;
  font-family: "Inter", "Arial" sans-serif;
  font-size: 12px;
  font-weight: 500;
  line-height: 16px;
  letter-spacing: 0px;
  text-decoration: none;
  margin: 0;
}

.navigation__signup:hover {
  opacity: 70%;
  transition: opacity 0.7s;
  cursor: pointer;
}

.navigation__signin-button {
  color: black;
  font-family: "Inter", "Arial" sans-serif;
  font-size: 12px;
  font-weight: 500;
  line-height: 16px;
  letter-spacing: 0px;
  text-align: center;
  background-color: #2be080;
  width: 76px;
  height: 32px;
  border: none;
  border-radius: 3px;
  margin-left: 30px;
}

.navigation__signin-button:hover {
  opacity: 70%;
  transition: opacity 0.7s;
  cursor: pointer;
}

@media screen and (max-width: 620px) {
  .navigation__signup {
    font-size: 10px;
  }
  .navigation__signin-button {
    margin-left: 14px;
    width: 54px;
    height: 26px;
    font-size: 10px;
  }
}
