.about-me {
  background: #ffffff;
  color: #000000;
  margin: 0 auto;
  max-width: 1140px;
}
.about-me__heading {
  margin: 0;
  font-family: "Inter", "Arial", sans-serif;
  font-size: 22px;
  font-weight: 400;
  line-height: 27px;
  letter-spacing: -0.04em;
  text-align: left;
  padding-top: 110px;
  padding-bottom: 23px;
  border-bottom: 1px solid rgba(84, 84, 84, 0.7);
}
.about-me__cv {
  display: flex;
  justify-content: space-between;
  padding-top: 66px;
}
.about-me__description {
  max-width: 600px;
}
.about-me__name {
  margin: 0;
  font-family: "Inter", "Arial", sans-serif;
  font-size: 50px;
  font-weight: 400;
  line-height: 58px;
  letter-spacing: -0.04em;
  text-align: left;
}
.about-me__data {
  margin: 0;
  font-family: "Inter", "Arial", sans-serif;
  font-size: 18px;
  font-weight: 500;
  line-height: 20px;
  letter-spacing: 0px;
  text-align: left;
  padding-top: 20px;
  padding-bottom: 26px;
}
.about-me__text {
  margin: 0;
  font-family: "Inter", "Arial", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0px;
  text-align: left;
  padding-bottom: 97px;
}
.about-me__github-link {
  margin: 0;
  font-family: "Inter", "Arial", sans-serif;
  font-size: 14px;
  font-weight: 500;
  line-height: 17px;
  letter-spacing: 0em;
  text-align: left;
  outline: none;
  text-decoration: none;
  color: #000000;
}
.about-me__github-link:hover {
  opacity: 70%;
}

.about-me__photo {
  width: 270px;
  height: 327px;
  border-radius: 10px;
  box-sizing: border-box;
  object-fit: cover;
}
@media screen and (max-width: 1140px) {
  .about-me {
    max-width: 668px;
  }

  .about-me__heading {
    padding-top: 90px;
  }

  .about-me__name {
    font-size: 40px;
    line-height: 40px;
  }
  .about-me__data {
    margin: 0;
    font-family: "Inter", "Arial", sans-serif;
    font-size: 12px;
    font-weight: 500;
    line-height: 18px;
    padding-top: 16px;
    padding-bottom: 20px;
  }

  .about-me__text {
    font-size: 12px;
    line-height: 18px;
    max-width: 364px;
    padding-bottom: 85px;
  }
  .about-me__photo {
    width: 255px;
    height: 307px;
    object-fit: cover;
    box-sizing: border-box;
  }
}

@media screen and (max-width: 708px) {
  .about-me {
    max-width: 292px;
  }
  .about-me__heading {
    font-size: 18px;
    line-height: 22px;
    padding-top: 72px;
    padding-bottom: 28px;
  }
  .about-me__cv {
    flex-direction: column-reverse;
    padding-top: 60px;
  }
  .about-me__description {
    padding-top: 40px;
  }
  .about-me__name {
    font-size: 30px;
    line-height: 36px;
  }
  .about-me__data {
    font-size: 11px;
    line-height: 16px;
    padding-top: 19px;
    padding-bottom: 20px;
  }
  .about-me__text {
    max-width: 292px;
    font-size: 11px;
    line-height: 16px;
    padding-bottom: 40px;
  }

  .about-me__photo {
    width: 292px;
    height: 352px;
  }
}
